.backdrop{
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
}
.modal{
    z-index: 20;
    top: 40%;
    left: 30%;
    width: 50%;
    position: fixed;
}
.header{
    padding: 1rem;
    background-color: black;
    color: white;
}
.content{
    padding: 1rem;
    background-color: white;
}
.footer{
    padding: 1rem;
    background-color: black;
    color: white;
    text-align: right;
}
.action{
    padding: 0.5rem 1.5rem;
}
